html*{
    font-size: 1em !important;
    color: black !important;
}

body{
    font-family: "Poppins" !important;
    font-size: 14px !important;
}

a{
    text-decoration: none !important;
}

.c-text-1{
    font-size: 12px !important;
}
.c-text-2{
    font-size: 14px !important;
}
.c-text-3{
    font-size: 16px !important;
}
.c-text-4{
    font-size: 20px !important;
}
.c-text-5{
    font-size: 28px !important;
}
.c-text-6{
    font-size: 32px !important;
}
.c-text-7{
    font-size: 40px !important;
}
.sidebar-inactive{
    color: #9999BD !important;
}
.sidebar-active{
    color: #5756B3 !important;
    font-weight: bold;
}
.c-card{
    background-color: white !important;
}
.c-main-background{
    background-color: #F5F5FB !important;
}
.c-soft-background{
    background-color: #DFE0F2 !important;
}
.c-color-primary{
    background-color: #5756B3 !important;
}
.c-color-white{
    background-color: white !important;
}
.c-border-primary{
    border-color: #5756B3;
}
.soft-title{
    color: #9999BD !important;
}
.primary-title{
    color: #5756B3 !important;
}
.text-color{
    color: black !important;
}
.text-white{
    color: white !important;
}
.c-text-warning{
    color: #f8c436 !important;
}
.c-text-primary{
    color: black !important;
}
.medium-weight{
    font-weight: 450 !important; 
}
.regular-weight{
    font-weight: 400 !important;
}
.bold-weight{
    font-weight: 500 !important;
}
.boldest-weight{
    font-weight: 600 !important;
}

.material-icons-md-18 { font-size: 18px !important; }
.material-icons-md-24 { font-size: 24px !important; }
.material-icons-md-36 { font-size: 36px !important; }
.material-icons-md-48 { font-size: 48px !important; }

.sidebar{
    height: 100% !important;
    max-height: 100%;
    padding-left: 40px !important;
    padding-right: 40px !important;
    padding-top: 40px !important;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
}
.logo{
    width: 35px;
    height: 35px;
    background-color: #DFE0F2 ;
    margin-left: 16px;
    border-radius: 50%;
}
.logo-pro{
    width: 40px;
    height: 40px;
    background-color: #9999BD;
    margin-left: 16px;
    border-radius: 50%;
    text-align: center;
}
.main-content{
    padding-left: 40px !important;
    padding-right: 40px !important;
    padding-top: 40px !important;
    padding-bottom: 20px !important;
    background-color: #F5F5FB;
}
.search-fill{
    height: 40px;
    border-radius: 12px;
    border: 0;
}
.secondary-field{
    height: 40px;
    border-radius: 12px;
    border: 0;
    background-color: #ffbb00;
    color: white;
}
.main-card{
    border-radius: 10px;
    border: 0 !important;
    height: 380px;
    background-color: #dadaff;
}
.main-card-1{
    border-radius: 10px;
    border: 0 !important;
    height: 200px;
    background-color: white;
}
.main-card-2{
    border-radius: 15px;
    border: 0 !important;
    height: 100px;
    background-color: white;
}
.custom-card{
    border-radius: 15px;
    border: 0 !important;
    background-color: white;
}
.bottom-card{
    border-radius: 10px;
    border: 0 !important;
    padding: 15px;
    background-color: #5756B3;
}
.circle-1{
    width: 70px;
    height: 70px;
    background-color: #5756B3 ;
    border-radius: 50%;
}
.white-button{
    margin-left: auto;
    border: 0;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #5756B3;
    background-color: white;
}
.hr-primary{
    height: 5px;
    border-radius: 4px;
    border: none;
    background-color: #5756B3;
}
.hr-second{
    height: 5px;
    border-radius: 4px;
    border: none;
    background-color: #f8c436;
}
.t-header{
    background-color: #DFE0F2;
    border-radius: 10px;
}
.t-item{
    border-bottom: 1px;
    border-bottom-color: #DFE0F2;
    background-color: #F5F5FB;
}
.t-item:hover{
    background-color: #eeeeff;
    transition-delay: 0.1ms;
    transition-timing-function: ease-in-out;
    transition-property: all;
    transition-duration: 0.2s;
}
/* Sidebar attribute */
.bungkus{
    display: flex;
    align-items: stretch;
}
#side {
    width: 250px;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #ffffff;
    color: #9999BD;
    transition: all 0.3s;
    padding: 40px;
}
a[data-toggle="collapse"]{
    position: relative;
}
.dropdown-toggle::after{
    display: block;
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
}
@media(max-width: 768px){
    #sidebar{
        margin-left: -250;
    }
    #sidebar.sidebar-active{
        margin-left: 0;
    }
}

p{
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #9999BD;
}
a, a:hover, a:focus{
    color: #9999BD;
    text-decoration: none;
    transition: all 0.3s;
}
#side .sidebar-header{
    /* padding: 20px; */
    background: #ffffff;
}
#side ul.component{
    padding: 20px 0;
}
#side ul p{
    color: #9999BD;
    padding: 10px;
}
#side ul li a{
    padding: 10px;
    font-size: 1.0em;
    display: block;
}
#side ul li.active > a, a[aria-expanded="true"]{
    color: #5756B3;
    background: #ffffff;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 5px !important;
    background-color: #ffffff;
}
.btn-add{
    border: 0;
    border-radius: 15px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    width:260px;
    text-align: center;
}
.btn-stock{
    border: 0;
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 9px;
    padding-bottom: 9px;
}
.btn-outline{
    border-style: solid;
    border-radius: 15px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
.btn-filter{
    border: 0;
    border-radius: 10px;
    background-color: white;
    padding: 7px;
}
.basic-btn{
    border-radius: 10px !important;
    border: 0 !important;
}
.basic-btn-1{
    border-radius: 10px !important;
    border: 1px #5756B3 solid !important;
}
.main-padding{
    padding: 20px !important;
}
.main-padding-l{
    padding-left: 20px !important;
}
.main-padding-r{
    padding-right: 20px !important;
}
.main-padding-t{
    padding-top: 20px !important;
}
.main-padding-b{
    padding-bottom: 20px !important;
}
.btn-modal-positive{
    border: 0;
    color: white;
    background-color: #5756B3;
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}
.btn-modal-negative{
    border: 0;
    border-color: #5756B3;
    border-style: solid;
    color: #5756B3;
    background-color: #DFE0F2;
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.credit-status{
    background-color: #DFE0F2;
    border: 0;
    color: rgb(209, 0, 0);
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
.cash-status{
    background-color: #DFE0F2;
    border: 0;
    color: rgb(0, 179, 74);
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
.text-credit{
    color: rgb(209, 0, 0) !important;
}
.text-cash{
    color: rgb(0, 179, 74) !important;
}
.paging{
    background: #5756B3 !important;
    color: white !important;
    border: none;
    border-radius: 10px !important;
}
.paginate_button{
    background: #F5F5FB !important;
    border-radius: 10px !important;
    border: none !important;
    color: #9999BD !important;
    margin: 3px 6px !important;
}
.paginate_button:active{
    background: #F5F5FB !important;
    color: #9999BD !important;
}
.paginate_button.current{
    background: #5756B3 !important;
    color: white !important;
}
.paginate_button.current:hover{
    background: #5756B3 !important;
    color: white !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current{
    background: #5756B3 !important;
    color: white !important;
}
.odd{
    border-bottom: 1px;
    border-bottom-color: #DFE0F2;
    background-color: #F5F5FB;
}
.rodd:hover{
    background-color: #f5f5ff;
    transition-delay: 0.1ms;
    transition-timing-function: ease-in-out;
    transition-property: all;
    transition-duration: 0.2s;
}
.even{
    border-bottom: 1px;
    border-bottom-color: #ecedfa;
    background-color: #f4f4ff !important;
}
.reven:hover{
    background-color: #eeeeff;
    transition-delay: 0.1ms;
    transition-timing-function: ease-in-out;
    transition-property: all;
    transition-duration: 0.2s;
}
.input-group>.form-control:not(:last-child) {
    border-radius: 15px !important;
}    
.c-dropdown{
    color: #000000 !important;
    background-color: white;
    border: none;
    border-radius: 15px;
    padding: 10px 12px !important;
}
.c-dropdown-item{
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
.dropdown-item.active, .dropdown-item:active {
    color: rgb(0, 0, 0) !important;
    text-decoration: none;
    background-color: #eeeeee !important;
}
/* custom js select2 style */
.select2-container--default .select2-selection--single{
    background-color: #fff !important;
    border-radius: 12px !important;
    border: 0 !important;
    height: 40px !important;
}
.select2-dropdown{
    border: 0 !important;
    font-size: 14px !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
    height: 40px !important;
    padding-right: 10px !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    padding-left: 20px !important;
    padding-top: 7px !important;
    font-size: 14px !important;
}
.dropdown-menu{
    left: -50px !important;
}
.select2-container--default .select2-selection--multiple{
    border: 0 !important;
    height: 40px !important;
    border-radius: 12px !important;
    padding-right: 20px !important;
    padding-left: 20px !important;
    padding-bottom: 0 !important;
    padding-top: 3px !important;
}
.quick-access-btn{
    border: 0;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 14px;
    padding-bottom: 14px;
    width:255px;
    text-align: center;
}
/* bootstrap overwrite */
.modal { overflow: auto !important; }